main.container a:visited{
    color: #483D8B !important
}

main.container a:active {
    color: #9400D3 !important
}

main.container a:hover{
    color: #483D8B
}

main.container a {
    color: rgb(206, 91, 255) !important
}