$font-family-base: "Raleway", sans-serif;
$enable-gradients: true;
$enable-shadows: true;
$headings-color: white;
$hr-border-color: white;

$primary: rgba(0, 16, 41, 0.644);
$secondary: rgb(40, 0, 77);


hr {
    height: 1rem;
    position: relative;
    margin: 4rem;
    color: white;
    &:after {
      font-family: 'FontAwesome';
      padding: 0 1rem;
      position: absolute;
      background-color: $secondary;
      left: 50%;
      transform: translatex(-50%);
      margin-top: -0.75em;
      font-size: 1.25rem;
    }

    //FontAwsome glyph shortcuts
    &.cubes:after {
      content: "\f1b3";
    }
    &.globe:after {
      content: "\f0ac";
    }
    &.spaceship:after{
      content: "\f197";
    }
  } 

body {
  padding-top: 5rem;
}
